body {
  color: #343e48;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-caption {
  left: 10%;
  transform: translateY(-60%);
}

.whatsapp-icon {
  position: fixed;
  bottom: 12px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 200%;
  padding-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.whatsapp-icon:hover {
  color: #fff;
  transform: translate(0px,-3px);
}

#img-logo {
  height: 38px;
}

.instagram {
  display: inline-block !important;
  width: 32px !important;
  height: 32px !important;
  margin-bottom: 13px;
  text-align: center !important;
  border-radius: 8px !important;
  color: #fff !important;
  font-size: 27px !important;
  line-height: 32px !important;
  vertical-align: middle !important;
  background: #d6249f !important;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;

}

.fa-facebook-f {
  color: #4267B3;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-x-twitter {
  color: #000;
}
